p,h1,h3,h5,ol,ul,li {
         color: darkgray;
         font-family: Kefa;
      }
      body {
        background-image:url("http://movies.flabber.nl/wp2013-12/need-for-Speed-had-ook-de-titel-van-een-film-over-drugsverslaving-kunnen-zijn.jpg");
      }
      nav {
      background-color: #2A2A33;  
      position: fixed;
      height: 40px;
      width: 100%;
         }
