p,h1,h3,h5,ol,li {
         color: darkgray;
         font-family: Kefa;
      }
      body {
        background-image:url("http://movies.flabber.nl/wp2013-12/need-for-Speed-had-ook-de-titel-van-een-film-over-drugsverslaving-kunnen-zijn.jpg");
      }
      .main {
        margin-left:auto;
        margin-right:auto;
        display:block;
      }
nav {
      background-color: #2A2A33;  
      position: fixed;
      height: 40px;
      width: 100%;
     
         }
nav li:hover {
         color: #FF0066;
}
section {
         width:70%;
         margin-top: 50px;
         float:left;
}
aside {
        width:30%;
        height:80%;
         margin-top: 50px; 
         float: right;
         margin-left:auto;
        margin-right:auto;
        text-align:center;
        background-color: #2A2A33;
}
footer {
     clear:both ;    
     background-color: #2A2A33;
     width: 100%;
     height: 30px;
     Margin-top: 0;
     Margin-bottom: 0;
}
a {
         color:pink;
}

}
