p,h1,h3,h5,ol,li {
         color: darkgray;
         font-family: Kefa;
      }
      body {
        background-image:url("http://movies.flabber.nl/wp2013-12/need-for-Speed-had-ook-de-titel-van-een-film-over-drugsverslaving-kunnen-zijn.jpg");
      }
      .main {
        margin-left:auto;
        margin-right:auto;
        display:block;
      }
nav {
      background-color: raspberry;  
      position: fixed;
      height: 60px;
      width: 100%;
         }
section {
         width:50%;
         margin-top: 50px;
         float:left;
}
aside {
        width:50%;
         margin-top: 50px; 
         float: right;
}
footer {
     clear:both ;    
     background-color: raspberry;
     width: 100%;
     height: 30px;
}
