p,h1,h3,h5,ol,li {
         color: darkgray;
         font-family: Kefa;
      }
      
 .high {
         background-color:red;
         color:white;
}
 .medium {
         background-color:orange;
         color:white;
}
 .low {
         background-color:gray;
         color:black;
}
 .done {
         background-color:black;
         color:cyan;
         text-decoration:line-through;
}
