p,h1,h3,h5,ol,li {
         color: darkgray;
         font-family: Kefa;
      }
      body {
        background-image:url("http://movies.flabber.nl/wp2013-12/need-for-Speed-had-ook-de-titel-van-een-film-over-drugsverslaving-kunnen-zijn.jpg");
      }
section.high {
         background-color:red;
         color:white;
}
section.medium {
         background-color:orange;
         color:white;
}
section.low {
         background-color:gray;
         color:black;
}
section.done {
         background-color:black;
         color:cyan;
}
