
.high {
         background-color:red;
}
 .medium {
         background-color:orange;
}
 .low {
         background-color:gray;
}
 .done {
         background-color:black;
}
.high>h2>li {
         color:white;
}
.medium>h2>li {
         color:white;
}
.low>h2>li {
         color:black;
}
.done>h2>li { 
         color:cyan;
         text-decoration:line-through;
         height:200px;
         width:300px;
}

section {
         border:5px solid black;
         height:200px;
         width:300px;
         overflow:auto;
}
section.done {
         display: none;
}
