.high {
         color:red;
}
 .medium {
         color:orange;
}
 .low {
         color:yellow;
}
 .done {
         color:black;
}
.done li { 
         text-decoration:line-through;
}

title {
         text-align:center;
}


main {
         background-color:gray;
         height:200px;
         width:800px;
         overflow:auto;
         margin-right:auto;
         margin-left:auto;
}

section{
         background-color:gray;
         width:800px;
         padding:50px;
         margin-right:auto;
         margin-left:auto;
}
